<div class="jumbotron">
    <h4 style="text-align: center;color:crimson;">Hey User, Enjoy Our Services And Products!!!!</h4>
    <form formGroup = "form" >
        <div class="control-group normal_text "><h3 style="color:tomato;">Login Here</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span style="color: red;">*</span>
                    <input type="text" autocomplete="off" name="username" id="userid" placeholder="Username" required/>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span style="color: red;">*</span>
                    <input type="password" autocomplete="off" name="userpass" id="userpassid" placeholder="Password"   required/>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-actions">
            <span class="pull-center">
            <input type="submit" class="btn btn-success" name="Login" value="Login" style="position:relative; "/>
            </span>
            <!-- <h6>Not Signup Yet</h6> -->
            &nbsp;&nbsp;
                
            <a class="btn btn-outline-danger  " routerLink="/userregister" >Signup</a>
                 
        </div>
    </form>
</div>