<div class="bg-dark d-flex fex-cloumn flex-md-row align-items-center p-3 px-md mb-3 border-bottom shadow-sm">
    <h2 class="my-0 mr-md-auto text-white   " style="text-align: center;">
   DELL Shop
   <img src="./assets/images/dell2.jpg" style="background-color:darkgray">

   
    </h2>
    
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-success" routerLink="/dashboard">DashBoard</a>&nbsp;&nbsp;
        <a class="btn btn-outline-danger" routerLink="/products">Products</a>&nbsp;&nbsp;
         <a class="btn btn-outline-primary" routerLink="/login" >Login</a> &nbsp;&nbsp;
        <a class="btn btn-outline-warning" routerLink="/userregister" >Signup</a>
       
    </nav>
    
</div>


    